<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
	<title>Register forms</title>
</head>
<body>
<center><h2>Register forms</h2>
     <form method="POST" action="f1/">
     	<table border="4">
     		<tr>
     			<td>
     				  Enter Your Name
     			</td>
     			<td>
     				<input type="text" name="name">
     			</td>
     		</tr>

     		<tr>
     			<td>
     				  Enter Your City
     			</td>
     			<td>
     				<input type="text" name="city">
     			</td>
     		</tr>

               <tr>
                    <td>
                           Enter Your phone
                    </td>
                    <td>
                         <input type="text" name="phone">
                    </td>
               </tr>

                <tr>
                    <td>
                           Enter Your Username
                    </td>
                    <td>
                         <input type="text" name="Uname">
                    </td>
               </tr>

                <tr>
                    <td>
                           Enter Your Password
                    </td>
                    <td>
                         <input type="text" name=" Password">
                    </td>
               </tr>


     		<tr>
     			<td colspan="2">
     				<center><input type="submit" name="submit" value="submit"></center>
     			</td>
     		</tr>
     	</table>
     </form>
     </center>

</body>
</html>