<!DOCTYPE html>
<html>
<head>
	<title>showdata</title>
</head>
<body>
<center>
<h2>showdata</h2>

 <form method="POST" >
     	<table border="4">
     	<tr>
     			<td>Your Name</td>
     			<td><strong>{{name}}</strong></td>
     	</tr>

     	<tr>
     			<td>city</td>
     			<td><strong>{{city}}</strong></td>
     	</tr>

     	<tr>
     			<td>phone</td>
     			<td><strong>{{phone}}</strong></td>
     	</tr>


     	<tr>
     			<td>Username</td>
     			<td><strong>{{Uname}}</strong></td>
     	</tr>


     	<tr>
     			<td>Password</td>
     			<td><strong>{{Password}}</strong></td>
     	</tr>
     	



     	
     	</table>
     	</form>
     	</center>

</body>
</html>